body,html{
    padding:0; margin: 0;
    background: #dfdfdf;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    background: #263238;
    overflow: hidden;
}

#editor{
    position:absolute;

    box-sizing: border-box;
}

#topo {
    background-color: rgb(0, 188, 212);
/*    background-color: #88CCC4;*/
    background-color: #65b9af;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    position: fixed;
    z-index: 1101;
    width: 100%;
    display: block;
    padding: 0 24px;
    top: 0px;
    color: white;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    box-shadow: 0 0 2px black;
}


#btnIniciar{
    position: fixed;
    z-index: 9999999999;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: .5s;
    height: 64px; width: 64px;
    background: url(img/rodar.png);
}
#btnIniciar:hover{
    background: url(img/rodar2.png);
    cursor: pointer;
    display: block;
}


#console{
    position: absolute;
    bottom:0; left: 0; right: 0;
    z-index: 99;
    height: 0px;
    display: none;
    box-shadow: 0 0 5px black;
    background-color: rgba(0,0,0,.5);  
    color: white;
    padding: 10px;
    box-sizing: border-box!important;
    line-height: 22px;
    overflow-y: auto !important;
}

/*
    Menu
*/

#menu {
    float:left;
    width: 320px;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px black;
/*    background: #bfe2dd;*/
    background: #cfebe7;
    transition: .6s;
    padding: 70px 0px;
    text-align: center;
    overflow: hidden !important;
    margin-left: -320px;
}
#foto{  
    display:block;
    text-align: center;
    padding-bottom: 10px;
}
#foto img{
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}


/*
    Editor
*/

.CodeMirror{
    float:left;
/*    position: absolute !important;*/
    box-sizing: border-box !important;
    min-width: 200px !important;
    height: 100% !important;
    margin-top: 60px;
/*    top: 60px !important; bottom: 0 !important; right: 0;*/
    z-index:1;
    font-size: 20px;
}

.cm-codigo { color:#9cb5ce; }
.cm-registrador { color: #db7575; }
.cm-encerraCod { 
    color: #ce4949; 
/*    background-color: red; */
    display: inline-block; 
    margin-bottom: 30px;
}
.cm-comentario { color: dodgerblue;}
.cm-valor { color: yellowgreen; }