body,html{
    padding:0; margin: 0;
    background: #dfdfdf;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    background: #263238;
    overflow: hidden;
}

#editor{
    position:absolute;

    box-sizing: border-box;
}

#topo {
    background-color: rgb(0, 188, 212);
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    position: fixed;
    z-index: 1101;
    width: 100%;
    display: block;
    padding: 0 24px;
    top: 0px;
    color: white;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    box-shadow: 0 0 2px black;
}


#menu {
    float:left;
    
    width: 0px;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px black;
    background: white;
    transition: .6s;
}


#btnIniciar{
    position: absolute;
    z-index: 99999;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}


.CodeMirror{
    float:left;
/*    position: absolute !important;*/
    box-sizing: border-box !important;
    width: calc(100% - 400px);
    height: 100% !important;
    margin-top: 60px;
/*    top: 60px !important; bottom: 0 !important; right: 0;*/
    z-index:1;
}